
// Required Core Stylesheet
@import "~@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "~@glidejs/glide/src/assets/sass/glide.theme";
@import "./variables";

@import "~bootstrap/scss/bootstrap";

@import "./functions";

* {
    background-size: cover;
    background-repeat: no-repeat;
    

}
.bg-cover {
    background: url("https://www.nawy.com/assets/images/home-images/landing-background.jpg"), rgba(0, 0, 0, .7);
    
}

.vh-100 {
    height: clamp(500px ,100vh,100vh) !important;
   
}

.bg-secondary {
    background-color: rgba(255, 255, 255, .898) !important;
  
}

.move-d-60 {
    top: calc(60% - 200px)
}

.upper-case {
    text-transform: capitalize;
}

.box {
    width: 300px !important;
    height: 300px !important;
}

.z-index-10 {
    z-index: 10;
}

.z-index--1 {
    z-index: -1;
}

.simi-black {
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ffffff00&c2=010101&gt=r&gd=dcc
*/
    background: rgba(255, 255, 255, 0.0);
    background: radial-gradient(at center, rgba(255, 255, 255, 0), rgba(1, 1, 1, 1.0));

}

.overlay {
    bottom: 0;
    height: 100%;
    width: 100%;
}

.text-overlay-center {
    bottom: 20%;
    z-index: 20;
    color: white;
    left: 100px;
}

.height-300 {
    height: 300px;
}

.wrapper {
    height: 400px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;

}

.logo-wrapper {
    position: relative;
}

.logo {
    border: 10px solid black;
    border-radius: 100%;

    background: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100px;
    height: 100px;

}

.logo-header img {
    object-fit: cover;

}


.bg-orange {
    background-color: rgb(255, 239, 230);
}

.flat-card p {
    font-size: 14px;
}

.footer {
    position: absolute;
    right: 10px;
    top: 53px;

    span {
        color: black;
        text-decoration: underline;
        font-weight: 400;
        background-color: transparent;
        padding: 0;
        border-top: none;
    }
}

a {
    text-decoration: none;
    color: black;

}


@each $name ,
$align,
$position in "bottom-left" left bottom,
"bottom-right" right bottom,
"top-right" top right,
"top-left" top left {
    .img-#{$name} {

        #{$align}: 0;
        #{$position}: 0;
        overflow: hidden;
    }
}

.img-rounded {
    border: 1px solid transparent;
    border-radius: 100%;
}

.card .card-img-top .circle {
    img {
        width: 25px;
        height: 25px;
    }
}

.bg-simi-black {
    background-color: rgba(0, 0, 0, .4);

}

.bg-circle {
    border: 1px solid transparent;
    border-radius: 35px;
    transition: width 1s ease 0s;
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.width\:hover:hover {
    width: 120px;
    border-radius: 5px;
}

.slider span i {
    text-align: end;
    color: white
}



.footer-container  {
    list-style-type: none !important; 
    display: inline-block;

li {

    padding: 0;
    margin: 0;
}}

@include color-mode(dark){
    .bg-secondary{
        background-color: mix(black, rgba(255,255,255,0.1),80%)!important;
    }
    footer a{
        color:white
    }
}
